@font-face {
  font-family: 'LilitaOne';
  src: url('img/LilitaOne.ttf');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'LilitaOne';
}

/* main setting */

body {
  color: #fff;
  background: url('img/bg.png');
  font-size: 48px;

  max-width: 1920px;
  max-height: 100vh;
}

/* main setting end */

/* tag-wrapper */

.tag-wrapper {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-input {
  width: 481px;
  height: 100px;

  background: #1e2438;
  box-shadow: inset 0px 4px 21px #04040e;
  border-radius: 10px;

  outline: none;
  border: none;

  cursor: pointer;

  margin: 34px 0px 62px 0px;

  color: #fff;
  font-size: 40px;
  font-family: 'LilitaOne';

  padding-left: 40px;

  text-transform: uppercase;
}

.tag-input:focus {
  border: 2px solid #ecc508;
}

.tag-button {
  width: 387px;
  height: 80px;

  background: #ecc508;
  box-shadow: inset -2px 4px 14px #04040e;
  border-radius: 10px;

  outline: none;
  border: none;

  cursor: pointer;

  color: #fff;
  font-size: 40px;
  font-family: 'LilitaOne';
}

/* tag-wrapper end */

/* main-wrapper */

.main-wrapper {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100vh;

  text-align: center;
  padding: 120px 250px 195px 250px;
  display: none;
}

.wrapper {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}

.wins {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.wins h2 {
  margin-bottom: 75px;
}

.win-item {
  font-size: 32px;
  margin-bottom: 33px;
  text-align: start;
}

.win-item-label {
  width: 279px;
  height: 58px;
  background: #1e2438;
  box-shadow: inset -2px 4px 21px #04040e;
  border-radius: 10px;

  margin-top: 15px;
}

.hours {
  width: 968px;
  height: 537px;

  background: #1e2438;
  box-shadow: inset -2px 4px 21px #04040e;
  border-radius: 10px;

  font-size: 128px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* main-wrapper end */
